<!DOCTYPE html>
<html>
  <head>
    <title>Share price tracking</title>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
    <!-- <script src="http://code.highcharts.com/stock/highstock.js"></script> -->
    <script src="js/jquery.js"></script>
    <script src="js/highstock.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
