<!DOCTYPE html>
<html>
  <head>
    <title>Share price tracking</title>
    <script src="js/jquery.js"></script>
    <script src="js/highstock.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
